<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Recipe home</title>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"
          >


</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card card-primary border border-primary">
                <div class="card-header bg-primary text-light">

                    <h2 class="card-title">My Recipes!</h2>

                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${!#lists.isEmpty(recipes)}">

                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:remove="all">
                                <td>Recipe ID</td>
                                <td>Recipe Description</td>
                                <td><a href="#">Go to recipe</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>Recipe ID</td>
                                <td>Recipe Description</td>
                                <td><a href="#">Go to recipe</a></td>
                            </tr>
                            <tr th:each="recipe : ${recipes}">
                                <td th:text="${recipe.id}">Recipe ID</td>
                                <td th:text="${recipe.description}">Recipe Description</td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} +'/show' }">Go to recipe</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} +'/update' }">Update recipe</a></td>
                                <td><a href="#" th:href="@{'/recipe/'+ ${recipe.id} + '/delete'}" th:method="delete">
                                    <button type="submit" value="Submit" class="btn btn-danger">Delete recipe</button>
                                </a></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>